html {
  font-size: 15px;
}

body{
  font-size: 1rem;
}

.debug [class*="col-"] {
  border: 1px solid black;
  height: 150px;

}

#section-2 .container .h-300 {
  height: 300px;
}

/*classi helper*/

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.float-r {
  float: right;
}

.h-200 {
  height: 200px;
}

.chevron {
  height: 375px;
}

.chevron i {
  line-height: 375px;
}

/*header*/

header nav [class*="col-"] {
  height: 80px;
  line-height: 80px;
}


nav img {
  height: 28px;
}

nav ul.left {
  width: 350px;
}

nav ul.right {
  width: 320px;
}


nav ul li {
  display: inline-block;
  color: #031c4e;
}

nav ul li a {
  text-decoration: none;
}

.my_jumbo {
  padding-top: 60px;
  height: 700px;
  background-image: url("../img/hero.svg");
  background-size: cover;
}

.jumbo-right {
  text-align: center;
}

/*section 1*/

#section-1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f3f5f9;
}

#section-1 img {
  width: 160px;
}

/*section 2*/

#section-2 {
  padding-top: 120px;
  padding-bottom: 120px;
}


#section-2 li {
  display: block;
  border-left: 2px solid grey;
  text-decoration: none;
  padding: 10px;
}

#section-2 img {
  height: 40px;
}

/* section 3 */

#section-3 {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background-color: #f3f5f9;
}

#section-3 img {
  width: 100%;
}

/*section 4*/

#section-4 img {
  height: 40px;
}
