html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

body{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


#section-2 .container .h-300 {
  height: 300px;
}

/*classi helper*/

.ghost-align::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.float-r {
  float: right;
}

.h-200 {
  height: 200px;
}

.chevron-s3 {
  height: 375px;
}

.chevron-s3 i {
  line-height: 375px;
}

.chevron-s6 {
  height: 375px;
}

.chevron-s6 i {
  line-height: 375px;
}

[class*="chevron-"] a i {
  color: #031c4e;
}

.font-title {
  font-size: 2.5rem;
}

.font-p {
  font-size: 1.5rem;
}

.bold400 {
  font-weight: 400;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-8 {
  margin-bottom: 8px;
}

/*header*/

header nav [class*="col-"] {
  height: 60px;
  line-height: 60px;
}


nav img {
  height: 28px;
}

nav ul {
  padding-left: 0px;
}


nav ul li {
  display: inline-block;
  color: #031c4e;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #031b4f;
}

button.sign-up {
  color: #006aff;
  border-color: #006aff;
}

.my_jumbo {
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url("../img/hero.svg");
  background-size: cover;
  color: white;
}

.jumbo_left p {
  padding-right: 20px;
}

.jumbo_left h1 {
  font-size: 4rem;
}

.jumbo-right {
  text-align: center;
  padding: 25px 20px 25px 20px;
  background-color: white;
  border-radius: 10px;
  color: #031c4e;
}

button.account {
  background-color: #006aff;
  font-size: 1rem;
}

button.google {
  font-size: 1rem;
}

button img {
  height: 20px;
  float: left;
}

/*section 1*/

#section-1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f3f5f9;
}

#section-1 img {
  width: 125px;
}

.sponsor {
  height: 110px;
  text-align: center;
}

/*section 2*/

#section-2 {
  padding-top: 120px;
  padding-bottom: 120px;
}

#section-2 h2 {
 color: #031b4e;
}

#section-2 p {
  color: #5c6a88;
}

#section-2 li {
  display: block;
  border-left: 2px solid #e5e8ed;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  color: #5c6a88;
}

#section-2 img {
  height: 40px;
}

/* section 3 */

#section-3 {
  padding-top: 120px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f3f5f9;
}

#section-3 h1 {
 color: #031b4e;
}

#section-3 p {
  color: #5c6a88;
}

#section-3 img {
  width: 100%;
}

#section-3 .bottom-p {
  color: #031b4e;
  font-size: 1.3rem;
  font-weight: 400;

}

/*section 4*/

#section-4 {
  padding-top: 80px;
  padding-bottom: 80px;
}

#section-4 img {
  height: 40px;
}

/* section 5 */

#section-5 {
  background-color: #0037b3;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}

.li_element {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
}

.li_element span {
  line-height: 50px;
}

#section-5 .data_list > .li_element:not(:last-child) {
  border-bottom: 1px solid white;
}

.li_element span:nth-child(1) {

}

.li_element span:nth-child(2) {
  margin-left: 30px;

}

.li_element span:nth-child(3) {
  float:right;
}

/* section-6 */

#section-6 {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f3f5f9;
}
 #section-6 .card {
   padding: 50px 0px 50px 0px;
   background-color: white;
 }

 #section-6 img {
   width: 200px;
 }

 /* section-7 */

 #section-7 {
   padding-top: 80px;
   padding-bottom: 50px;
   text-align: center;
   background-color: #0037b3;
   color: white;
 }

 /* footer */

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #031c4e;
  color: #7a859d;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-top: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #7a859d;
}

/* media query */

@media screen and (max-width: 992px) {

  header nav .right {
    display: none;
  }

  #section-2 li {
    display: inline-block;
    border: none;
    border-bottom: 2px solid #e5e8ed;
  }
   .side-list {
     text-align: center;
     margin-bottom: 40px;
   }

}


@media screen and (min-width: 993px) and (max-width: 1200px){

  header nav .right {
    display: none;
  }

  #section-2 li {
    display: inline-block;
    border: none;
    border-bottom: 2px solid #e5e8ed;
  }

  .side-list {
    text-align: center;
    margin-bottom: 40px;
  }

  .chevron-s3 {
    height: 306px;
  }

  .chevron-s3 i {
    line-height: 306px;
  }

}

@media screen and (min-width: 1201px) {

  .menu-xs-md {
    display: none;
  }


}
